window {
    background-color: #000000;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
}

/* Lifeline buttons */
.btn-lifeline {
    background-color: transparent;
    min-width: 101px;
    min-height: 61px;
    padding: 0;
    background-repeat: no-repeat;
}

.btn-lifeline:hover {
    filter: brightness(1.1);
}

.btn-lifeline:hover:active {
    filter: brightness(0.9);
}

.btn-lifeline-fifty-fifty {
    background-image: url("img/btn-50-50.png");
}

.btn-lifeline-call {
    background-image: url("img/btn-call.png");
}

.btn-lifeline-audience {
    background-image: url("img/btn-audience.png");
}

/* Money */
.lbl-money {
    font-size: 40px;
    font-weight: bold;
    min-width: 210px;
}

/* Question */
.question {
    font-size: 24px;
    min-height: 90px;
    min-width: 1100px;
}

/* Answer buttons */
.btn-answer {
    background-color: transparent;
    min-width: 592px;
    min-height: 60px;
    padding: 0px;
}

.btn-answer:hover:active:not(.btn-answer-pulse) {
    filter: brightness(0.9);
}

.btn-answer-correct {
    background-image: url("img/answer-a-green.png");
}

.btn-answer-incorrect {
    background-image: url("img/answer-a-red.png");
}

.btn-answer label {
    font-size: 20px;
    padding-left: 90px;
    opacity: 0.85;
    background-repeat: no-repeat;
    color: white;
}

.btn-answer-a {
    background-image: url("img/answer-a-default.png");
}

.btn-answer-a:hover,
.btn-answer-a.btn-answer-pulse {
    background-image: url("img/answer-a-yellow.png");
}

.btn-answer-b {
    background-image: url("img/answer-b-default.png");
}

.btn-answer-b:hover,
.btn-answer-b.btn-answer-pulse {
    background-image: url("img/answer-b-yellow.png");
}

.btn-answer-c {
    background-image: url("img/answer-c-default.png");
}

.btn-answer-c:hover,
.btn-answer-c.btn-answer-pulse {
    background-image: url("img/answer-c-yellow.png");
}

.btn-answer-d {
    background-image: url("img/answer-d-default.png");
}

.btn-answer-d:hover,
.btn-answer-d.btn-answer-pulse {
    background-image: url("img/answer-d-yellow.png");
}

.btn-answer-pulse {
    animation-name: answer-pulse;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes answer-pulse {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(0.7);
    }

    100% {
        filter: brightness(1);
    }
}
