window {
    background-color: #000000;
    background-image: url("../data/img/bg.png");
    background-repeat: no-repeat;
}

/* Question */
.question {
    font-size: 24px;
    min-height: 90px;
    min-width: 1100px;
}

/* Answer buttons */
.btn-answer {
    background-color: transparent;
    min-width: 592px;
    min-height: 60px;
    padding: 0px;
}

.btn-answer label {
    font-size: 20px;
    padding-left: 90px;
    opacity: 0.85;
    background-repeat: no-repeat;
    color: white;
}

.btn-answer-a {
    background-image: url("../data/img/answer-a-default.png");
}

.btn-answer-a:hover {
    background-image: url("../data/img/answer-a-yellow.png");
}

.btn-answer-b {
    background-image: url("../data/img/answer-b-default.png");
}

.btn-answer-b:hover {
    background-image: url("../data/img/answer-b-yellow.png");
}

.btn-answer-c {
    background-image: url("../data/img/answer-c-default.png");
}

.btn-answer-c:hover {
    background-image: url("../data/img/answer-c-yellow.png");
}

.btn-answer-d {
    background-image: url("../data/img/answer-d-default.png");
}

.btn-answer-d:hover {
    background-image: url("../data/img/answer-d-yellow.png");
}
